<header>Add new item</header>
<section>
    <form (ngSubmit)="onSubmit()">
        <div id="infoDiv">
            <mat-form-field class="formField">
                <mat-label>Name</mat-label>
                <input matInput type="text" name="name" [(ngModel)]="form.name" required />
            </mat-form-field>
            <mat-form-field class="formField">
                <mat-label>Category</mat-label>
                <mat-select name="category" [(value)]="form.category">
                    <mat-option value="Beverage">Beverage</mat-option>
                    <mat-option value="snack">Snack</mat-option>
                    <mat-option value="Daily Surprise">Daily Surprise</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="formField">
                <mat-label>Cost</mat-label>
                <input matInput type="number" name="cost" [(ngModel)]="form.cost" required />
            </mat-form-field> 
            <mat-form-field class="formField">
                <mat-label>Stock Quantity</mat-label>
                <input matInput type="number" name="stockQuantity" [(ngModel)]="form.stockQuantity" required />
            </mat-form-field> 
            <mat-form-field class="formField">
                <mat-label>Unit</mat-label>
                <mat-select name="unit" [(value)]="form.unit">
                    <mat-option value="N/A">N/A</mat-option>
                    <mat-option value ="Cups">Cups</mat-option>
                    <mat-option value="Cubes">Cubes</mat-option>
                    <mat-option value="Boxes">Boxes</mat-option>
                    <mat-option value="Pieces">Pieces</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="formField">
                <mat-label>Description</mat-label>
                <textarea matInput name="description" [(ngModel)]="form.description" placeholder="Enter description" required></textarea>
            </mat-form-field>
        </div>
        <div id="mediaDiv">
            <div class="fileInputDiv">
                <label>Add Photo</label>
                <input 
                    #photoRef
                    name="name"
                    class="fileInput" 
                    type="file" 
                    accept="image/*"
                    (change)="(form.photo = photoRef.files)"
                />
            </div>
            <div class="fileInputDiv">
                <label>Add ASL</label>
                <input 
                    #aslRepresentationRef
                    name="aslRepresentationRef"
                    class="fileInput" 
                    type="file" 
                    accept="image/*"
                    (change)="(form.aslRepresentation = aslRepresentationRef.files)"
                />
            </div>
            <div class="fileInputDiv">
                <label>Add English Audio Recording</label>
                <input 
                    #englishAudioRepresentationRef
                    name="englishAudioRepresentation"
                    class="fileInput" 
                    type="file"
                    (change)="(form.englishAudioRepresentation = englishAudioRepresentationRef.files)"
                />
            </div>
        </div>
        <div>
            <button mat-button type="submit">Add Item</button>
        </div>
    </form>
</section>