section {
    max-width: 100%;
    max-height: 100%;
}

#infoDiv {
    max-width: 60%;
    display: inline-block;
}

#mediaDiv {
    max-width: 40%;
    display: inline-block;
}

.formField {
    display: block;
}

.fileInputDiv {
    margin: 3.5em;
}

.fileInput {
    display: block;
}