section{
    width: fit-content;    
    margin-top: 2.5em;
    margin-left: 12vw;
    padding: 0.65em .4em 0.5em 0.4em;
}

table{
    width: 78vw;
}

.buttons {
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 0.55em;
    align-content: center;
    justify-content: center;
}

.confirm-button{
    margin-right: 2em !important;
}

.cancel-button {
    margin-left: 4em !important;
}

button {
    align-self: center;
}