<section class="mat-elevation-z8">
    <h1>Confirm/cancel Order</h1>
    <h3>Hi {{order.firstName}}</h3>
    <table mat-table [dataSource] = "dataSource" >
        
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Item name</th>
                <td mat-cell *matCellDef="let element">{{getItemName(element.id)}}</td>
                <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>Quantity</th>
                <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
                <td mat-footer-cell *matFooterCellDef> Total Cost</td>
            </ng-container>
            <ng-container matColumnDef="cost">
                <th mat-header-cell *matHeaderCellDef>Cost</th>
                <td mat-cell *matCellDef="let element">{{element.cost}}</td>
                <td mat-footer-cell *matFooterCellDef>{{getTotalCost() | currency}}</td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef = "let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>            
    </table> 
    <mat-card-actions class="buttons">
        <button mat-raised-button color="primary" class="confirm-button">Confirm Order</button>
        <button mat-raised-button color="accent" class="cancel-button">Cancel Order</button>
    </mat-card-actions>

</section>