<section *ngIf="item">
    <button class="closeBtn" (click)="closeModal()"><mat-icon aria-hidden="false" aria-label="close">close</mat-icon></button>
    <header class="itemName">{{item.name}}</header>
    <div class="containerDiv">
        <div class="infoDiv">
            <p class="itemDescription">
                {{item.description}}
            </p>
            <div class="categoryDiv">
                Category: {{item.category}}
            </div>
            <div class="stockQtyDiv">
                <span>Stock Quantity: {{item.stockQuantity}}</span>
                <button mat-button class="updateButton" (click)="openUpdateModal()">Update Stock Quantity</button>
            </div>
            <div class="priceDiv">
                <span>Price: {{item.cost}}</span>
                <button mat-button class="updateButton" (click)="openUpdateModal()">Update Cost</button>
            </div>
        </div>
        <div class="mediaDiv">
            <div class="innerMediaDiv">
                <span>Photo</span>
                <img src={{item.photo.path}}>
            </div>
            <div class="innerMediaDiv">
                <span>ASL Representation</span>
                <img src={{item.aslRep.path}}>
            </div>
            <div class="innerMediaDiv">
                <span>Audio Representation</span>
                <audio controls src={{item.englishAudioRep.path}} type="audio/mp4" preload="auto" crossorigin>
                    <!-- fallback for non supporting browsers goes here -->
                    <p>Your browser does not support HTML5 audio, but you can still 
                        <a href="audiofile.mp3">download the music</a>
                        .
                    </p>
                </audio>
            </div>
        </div>
    </div>
    <button mat-button (click)="delete(this.item.id)">Remove</button>
</section>