section {
    height: 100%;
    width: 100%;
}

.closeBtn {
    border: none;
    font-size: 1em;
    padding: 6px 6px;
    cursor: pointer;
    background-color: inherit;
    color: rgb(112, 100, 100);
    right: 2em;
}

.updateButton {
    display: inline;
}

.closeBtn:hover {
    color: rgb(3, 3, 3);
}

header {
    font-size: large;
}

.containerDiv {
    // height: 85%;
    // width: 100%;
    display: flex;
    margin-top: 1%;
}

.infoDiv {
    width: 60%;
    // height: 85%;
    display: inline-block;
}

.mediaDiv {
    width: 40%;
    // height: 85%;
    display: inline-block;
}


// Information Div Elements Styles
.categoryDiv {
    margin-top: 3%;
    margin-bottom: 3.5%;
}

priceDiv {
    margin-top: 2.5%;
}


// Media Div elements Styles
.innerMediaDiv + .innerMediaDiv {
    margin-top: 5.33%;
    margin-bottom: 5.33%;
}

.mediaDiv > .innerMediaDiv:last-child {
    margin-bottom: 3.33%;
}

img {
    display: block;
    width: 80%;
    height: 40%;
}

audio {
    width: 80%;
}