.centered {
    margin: 0 auto;
    padding: 0 1em;
}

mat-form-field {
    margin-right: 1.8em;
}

mat-form-field, mat-select {
    width: 15vw;
}

.search-field-clear-button {
    margin-left: -3em;
}

.menu-item-card {
    max-height: 310px;
    max-width: 280px;
}

.mat-fab {
    position: fixed;
    right: 2.5em;
    bottom: 2.6em;
}