<main>
    <mat-toolbar-row color="primary">
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput type="search" placeholder="search" (keyup.enter)="textSearch()" [(ngModel)]="searchFieldValue">
            <button mat-button class="search-field-clear-button" *ngIf="searchFieldValue" (click)="clearSearchField()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select [(value)]="selectedCategory" (selectionChange)="categorySearch()">
                <mat-option value="all">All</mat-option>
                <mat-option value="beverage">Beverage</mat-option>
                <mat-option value="snack">Snack</mat-option>
                <mat-option value="daily_Surprise">Daily Surprise</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-toolbar-row>
    <section class="centered">
        <div *ngIf="menuItems" fxLayout="row wrap" fxLayoutGap="0.8vw">
            <ng-container *ngFor="let item of filteredMenuItems">
                <app-admin-item-card 
                    class="menu-item-card" 
                    [item]="item" 
                    fxFlex="0 1 calc(33.3% - 32px)" 
                    fxFlex.lt-md="0 1 calc(50% - 32px)"
                    fxFlex.lt-sm="100%"
                    (viewItem)="viewItem($event)" 
                    (viewSales)="viewSales($event)"
                >
                </app-admin-item-card>
            </ng-container>
        </div>
    </section>
    <button mat-fab color="primary" (click)="addItem()">
        <mat-icon>add</mat-icon>
    </button>
</main>