<main>
    <section class="mat-elevation-z8">
        <header>Orders</header>
        <div class="table-container">
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>

                <!-- Customer Name Column -->
                <ng-container matColumnDef="customerName">
                    <th mat-header-cell *matHeaderCellDef> Customer Name. </th>
                    <td mat-cell *matCellDef="let order"> {{order.customerName}} </td>
                </ng-container>

                <!-- Amount of items Column -->
                <ng-container matColumnDef="amtItems">
                    <th mat-header-cell *matHeaderCellDef> Amt of Items. </th>
                    <td mat-cell *matCellDef="let order"> {{order.amtItems}} </td>
                </ng-container>

                <!-- Total Cost Column -->
                <ng-container matColumnDef="totalCost">
                    <th mat-header-cell *matHeaderCellDef> Total Cost. </th>
                    <td mat-cell *matCellDef="let order"> {{order.totalCost}} </td>
                </ng-container>

                <!-- Item Status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status. </th>
                    <td mat-cell *matCellDef="let order"> {{order.status}} </td>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let order" [attr.colspan]="displayedColumns.length">
                        <div class="order-detail" [@detailExpand]="order == expandedOrder ? 'expanded' : 'collapsed'">
                            <table mat-table [dataSource]="order.items" *ngIf="order === expandedOrder">

                                <!-- Item Name Column -->
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Item Name. </th>
                                    <td mat-cell *matCellDef="let item"> {{getItemName(order.id)}}</td>
                                    <td mat-footer-cell *matFooterCellDef> </td>
                                </ng-container>

                                <ng-container matColumnDef="quantity">
                                    <th mat-header-cell *matHeaderCellDef> Quantity. </th>
                                    <td mat-cell *matCellDef="let item"> {{item.quantity}} </td>
                                    <td mat-footer-cell *matFooterCellDef> Total Cost </td>
                                </ng-container>

                                <ng-container matColumnDef="cost">
                                    <th mat-header-cell *matHeaderCellDef> Cost. </th>
                                    <td mat-cell *matCellDef="let item"> {{item.cost}} </td>
                                    <td mat-footer-cell *matFooterCellDef> ${{order.totalCost}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="detailsColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: detailsColumns;"></tr>
                                <tr mat-footer-row *matFooterRowDef="detailsColumns"></tr>
                            </table>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let order; columns: displayedColumns;"
                    class="order-row"
                    [class.order-row]="expandedOrder === order"
                    (click)="expandedOrder = expandedOrder === order ? null : order"
                ></tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
            </table>
        </div>
        <div class="paginator-container">
            <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </section>
</main>