main {
    display: flex;
    justify-content: center;
}

section {    
    margin-top: 3.5em;
    width: 88vw; 
    max-height: 80vh;
    align-self: center;   
}

header {
    margin-top: 0.6em;
    margin-left: 1em;
    font-weight: bold;
    font-size: 2em;
    width: inherit;
}

.table-container {    
    display: flex;
    justify-content: center;
}

table {
    width: 98%;
    overflow: auto;
}

.order-detail {
    overflow: hidden;
    display: flex;
}

tr.detail-row {
    height: 0;
}

tr.order-row:not(.expanded-row):hover {
    background: whitesmoke;
}

tr.order-row:not(.expanded-row):active {
    background: #efefef;
}

.order-row td {
    border-bottom-width: 0;
}

.paginator-container {
    justify-content: right;
}

tr .mat-footer-row {
    font-weight: bold;
}