.card {
    max-height: 65vh;
    max-width: 35vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#alertText {
    font-size: small;
}

.callToActionText {
    font-size: medium;
    text-align: center;
}

.textInputField {
    width: 110%;
    height: 3.6em;
}

#submitButtonWrapper {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitButton {
    margin: auto;
}

// .ng-valid[required], .ng-valid.required  {
//   border-left: 5px solid #42A948; /* green */
// }

// .ng-invalid:not(form)  {
//   border-left: 5px solid #a94442; /* red */
// }