<mat-card class="card">
    <div>
        <mat-card-header>
            <h1 id="mainHeaderText">Welcome!</h1>
            <h6 *ngIf="error" id="alertText">Alert</h6>
        </mat-card-header>
        <mat-card-content>
            <div>
                <h1 *ngIf="!registerFlag" class="callToActionText">Please login to your account.</h1>
                <h1 *ngIf="registerFlag" class="callToActionText">To create an account, <br/>please enter your name and digital ID</h1>
            </div>
            <div id="loginRegisToggleDiv">
                <span><button (click)="toggleLoginRegistFlag()">Login</button></span>
                <span><button (click)="toggleLoginRegistFlag()">Register</button></span>
            </div>
            <form (ngSubmit)="onSubmit()" #logRegForm="ngForm">
                <div class="form-group">
                    <div>
                        <mat-form-field class="textInputField">
                            <input matInput type="text" placeholder="First Name" [(ngModel)]="firstName" name="firstName" id="firstName" required>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="textInputField">
                            <input matInput type="text" placeholder="Last Name" [(ngModel)]="lastName" name="lastName" id="lastName" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group">
                    <mat-button-toggle-group #group="matButtonToggleGroup">
                        <mat-button-toggle 
                            *ngFor="let option of digitalIdOptions;" 
                            (change)="toggleSelectedDigitalId($event)" 
                            [value]="option"
                        >
                            {{option}}
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                    <div id="digitalIdOptionsContainer">
                        <mat-form-field *ngIf="digitalIdOptionsToggle[0]">
                            <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" id="password" required>
                        </mat-form-field>
                        <div *ngIf="digitalIdOptionsToggle[1]">
                            <label class="file-input-label" for="signatureMoveInput">Choose image</label>
                            <input 
                                class="file-input" 
                                id="signatureMoveInput" 
                                name="signatureMoveImageFile" 
                                type="file" 
                                (change)="fileChange($event)" 
                                accept="image/jpeg"
                                required
                            >
                        </div>
                        <div *ngIf="digitalIdOptionsToggle[2]">                        
                            <label class="file-input-label" for="voiceInput">Choose audio file</label>
                            <input 
                                class="file-input" 
                                id="voiceInput"
                                name="voiceRecordingAudioFile" 
                                type="file"
                                (change)="fileChange($event)" 
                                accept="image/jpeg"
                                required
                            >
                        </div>
                    </div>
                </div>
                <div id="submitDiv">
                    <mat-spinner 
                        id="spinner"
                        [style.display]="showSpinner ? 'inline' : 'none'"
                        color="accent"
                        diameter="20"
                    >
                    </mat-spinner>
                    <div id="submitButtonWrapper">
                        <mat-card-actions>
                            <button 
                                mat-raised-button 
                                class="submitButton" 
                                type="submit" 
                                color="primary"
                                [disabled]="!logRegForm.form.valid"
                            >
                                {{!registerFlag ? "Login" : "Register"}}
                            </button>
                        </mat-card-actions>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </div>
</mat-card>