<mat-card class="card" key="item.id" >
    <img mat-card-image src="{{item.photo.path}}" alt="{{item.name}}">
    <mat-card-content>
        <span class="item-name">{{item.name}}</span>
        <span class="item-price">${{item.cost}}</span>
        <p class="item-stock">In stock: {{item.stockQuantity}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="actionButton" (click)="sales()">View Sales</button>
        <button mat-button class="actionButton" (click)="view()">View/Update Item</button>
    </mat-card-actions>
</mat-card>