.mat-card-image {
    max-height: 165px;
}

.item-name {
    font-size: larger;
    font-weight: 600;;
}

.item-price {
    position: absolute;
    right: 16px;
    font-size: large;
}

.item-stock {
    font-size: large;
}