.header-container {
    width: 100vw;
    height: 6vh;
    padding-top: 0.35rem;
    margin-bottom: 0.6em;
}

.header {
    color: #d54d7b;
    font-family: 'Rouge Script', cursive;
    left: 1.8em;
    position: relative;
    font-size: x-large;
    font-weight: 500;
    font-style: oblique;
    line-height: 5.6vh;
    text-shadow: 1px 1px 2px #082b34;
    letter-spacing: 0.2em;
    width: 30%;
}


nav {
    margin-left: -0.56em;
}

a {
    color: red;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 0.56em;
}

a:active {
    color: black;
}

a:hover {
    cursor: pointer;
}

button {
    position: fixed;
    right: 1.35em;
    font-size: 1em;
}