<div class="header-container">
    <header class="header">C.U.P.S</header>
</div>

<ng-container *ngIf="currentUser.role == 'M'">
    <mat-toolbar style="height: 8vh;">
        <div>
            <h3>Manager</h3>
            <nav>
                <a routerLink="/admin/manage" routerLinkActive="active"> Manage Items </a>
                <a routerLink="/admin/orders" routerLinkActive="active"> View Orders </a>
                <span class="button-container">
                    <button mat-button (click)="logout()"> Log Out </button>
                </span>    
            </nav>
        </div>
    </mat-toolbar>
</ng-container>

<router-outlet></router-outlet>
