<section>
<div *ngIf="isLoading">
    Loading
</div>
<div ng-hide="isLoading" id="chartContainer">
    <div id="firstChart" class="chart">
        <span>Chart 1</span>
        <canvas id="qtyBarchartCanvas">{{qtyBarchart}}</canvas>
    </div>
    <div id="secondChart" class="chart">
        <span>Chart 2</span>
        <canvas id="valueBarchartCanvas">{{valueBarchart}}</canvas>
    </div>
</div>
</section>