<header>Update Menu Item</header>
<section>
    <form (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field>
                <mat-label>Item Property</mat-label>
                <mat-select name="field" [(value)]="field" required>
                    <mat-option value="stockQuantity">Stock Quantity</mat-option>
                    <mat-option value="cost">Cost</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Value</mat-label>
                <input matInput type="number" name="value" [(ngModel)]="value" required />
            </mat-form-field>
        </div>
        <div>
            <button mat-button type="submit">Update</button>
        </div>
    </form>
</section>